# Logs et fichiers temporaires
*.log
*.cache
*.tmp
.phpunit.result.cache
.phpunit.cache

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'environnement
.env
.env.*
.env.backup
.env.production

# Configurations locales d'IDE/éditeur
/.idea
/.vscode
/.fleet
/.nova
/.zed

# Dépendances
/vendor
/node_modules

# Dossiers générés par Laravel
/public/storage
/public/build
/public/hot
/storage
/storage/*.key
/storage/pail
/bootstrap/cache

# Auth et Homestead
auth.json
Homestead.json
Homestead.yaml

# Divers
.phpactor.json
